.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}
.App {
  background-color: rgba(10, 11, 11, 0.212);
  height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #08ac5789;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(220, 216, 216);
}

.App-link {
  color: #ed1017;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}
